
<div class="row">

  <div class="col-lg-3"> <span  >Card title</span>
    <span  >Card subtitle</span>
  </div>
  <div class="col-lg-6">
    <app-searchengine></app-searchengine>
  </div>
  <div class="col-lg-3"></div>
  <div class="col-lg-12">
    <app-navheader></app-navheader>
  </div>
  <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
  <!--<a href="#" class="card-link">Card link</a>-->
  <!--<a href="#" class="card-link">Another link</a>-->
</div>
