<!--<footer class="container-fluid text-center">-->
  <!--<p>Online Store Copyright</p>-->
  <!--<form class="form-inline">Get deals:-->
    <!--<input type="email" class="form-control" size="50" placeholder="Email Address">-->
    <!--<button type="button" class="btn btn-danger">Sign Up</button>-->
  <!--</form>-->
<!--</footer>-->



<div class="row container-fluid text-center  navbar fixed-bottom navbar-light bg-faded">
  <div class="col-lg-12  text-center">
    <p>Online Store Copyright</p>
  </div>
</div>
